body {
    background-color: rgb(48, 22, 13);
}


.open-text {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
    text-align: center;
    margin: 20px;
}

    .Logo {
        border-style: solid;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    .intro {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        margin: 20px;
        border-style: solid;
        border-radius: 15px;
        font-size: larger;
    }



.links {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 3px;
margin: 15px;
}

    .home {
        border-style:groove;
        border-color: black;
        padding: 10px;
        flex: 1 0 10px;
        text-align: center;
        text-decoration: none;
        color:white;
        background-color: rgb(18, 18, 88);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .contact {
        border-style:groove;
        border-color: black;
        padding: 10px;
        flex: 1 0 10px;
        text-align: center;
        text-decoration: none;
        color:white;
        background-color:  rgb(18, 18, 88);
    }

    .FAQ {
        border-style:groove;
        border-color: black;
        padding: 10px;
        flex: 1 0 10px;
        text-align: center;
        text-decoration: none;
        color:white;
        background-color: rgb(18, 18, 88);
    }

    .tournaments {
        border-style:groove;
        border-color: black;
        padding: 10px;
        flex: 1 0 10px;
        text-align: center;
        text-decoration: none;
        color:white;
        background-color: rgb(18, 18, 88);
    }

    .login {
        border-style:groove;
        border-color: black;
        padding: 10px;
        flex: 1 0 10px;
        text-align: center;
        text-decoration: none;
        color:white;
        background-color: rgb(18, 18, 88);
    }

.video {
    text-align: center;
    margin-left: 265px;
}


    

